h1 {
    color: red;
    border-bottom: 2px solid black;
}
#hit-list{
    width: 100%;
    text-align: center;
}
ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
img {
    height: 230px;
    border-radius: 15px;
}
li {

}