
#mainWrapper {
}
ul {
    list-style: none
}
#name-entry {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(8, auto);
    grid-template-rows: repeat(7, auto);
}
#firstName {
    grid-column: 1/4;
    grid-row: 1/2;
}
#lastName {
    grid-column: 4/9;
    grid-row: 1/2;
}
#email {
    grid-column: 1/4;
    grid-row: 2/3;
}
#birthPlace {
    grid-column: 4/9;
    grid-row: 2/3;
}
#phone {
    grid-column: 1/4;
    grid-row: 3/4;
}
#favFood {
    grid-column: 4/9;
    grid-row: 3/4;
}
#textArea {
    grid-column: 1/9;
    grid-row: 4/6;
}
button {
    grid-column: 3/5;
    grid-row: 6/7;
}
li {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 50px);
    text-align: center;
    align-items: center;
    border: 1px solid black;
    background-color: burlywood;
    color: #333;
    margin: 15px;
}
li > * {
    /* border: 1px solid black; */
}
li h3 {
    background-color: beige;
}
#badge {
    grid-row: 1/2;
    grid-column: 1/7;
    background-color: antiquewhite;
}
#name {
    grid-row: 2/3;
    grid-column: 1/2;
}
#name-input {
    grid-row: 2/3;
    grid-column: 2/4;
}
#phone-number {
    grid-row: 2/3;
    grid-column: 4/5;
}
#phone-number-input {
    grid-row: 2/3;
    grid-column: 5/7;
}
#email-address {
    grid-row: 3/4;
    grid-column: 1/2;
}
#email-address-input {
    grid-row: 3/4;
    grid-column: 2/4;
}
#favorite-food {
    grid-row: 3/4;
    grid-column: 4/5;
}
#favorite-food-input {
    grid-row: 3/4;
    grid-column: 5/7;
}
#text-area-input {
    grid-row: 4/6;
    grid-column: 1/5;
}
#birth-place {
    grid-row: 4/5;
    grid-column: 5/7;
}
#birth-place-input {
    grid-row: 5/6;
    grid-column: 5/7;
}
