nav {
    display: flex;
    justify-content: space-around;
}
.light-theme {
    background-color: whitesmoke;
    color: #333333;
}
.dark-theme {
    background-color: #333333;
    color: whitesmoke;
}